@use 'variables';

.articles {
    display: grid;
    gap: 2rem;
    .article {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1.5rem;
        transition: .1s;
        &:hover {
            cursor: pointer;
            scale: 1.01;
        }
        img {
            height: 135px;
            grid-area: 1 / 1 / 4 / 2;
        }
        .article-title {
            color: variables.$Grayish-blue;
            font-size: 2rem;
        }
        .article-subtitle {
            font-weight: 800;
            font-size: 1.1rem;
        }
        .article-paragraph {
            color: variables.$Dark-grayish-blue;
            font-size: .9rem;
            font-weight: 500;
            line-height: 25px;
        }
    }
}