@use 'variables';

.aside {
    background-color: variables.$Very-dark-blue;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3.25rem auto;
    .aside-title {
        color: variables.$Soft-orange;
        font-size: 2rem;
    }
    .aside-article {
        display: grid;
        gap: .75rem;
        transition: .2s;
        &:hover {
            cursor: pointer;
            scale: 1.03;
        }
        .aside-article-title {
            color: variables.$Off-white;
            font-size: 1.25rem;
        }
        .aside-article-paragraph {
            color: variables.$Grayish-blue;            
            font-size: .9rem;
            font-weight: 300;
            line-height: 25px;
        }
    }
    hr {
        border: 1px solid variables.$Dark-grayish-blue;
        margin: 1rem 0;
    }
}