@use 'variables';

.container {
    display: grid;
    gap: 1rem;
    picture {
        .main-img {
            width: 100%;
        }
    }
    .title {
        font-size: 2.7rem;
        font-weight: 900;
        line-height: 45px;
    }
    .text-and-button {
        display: grid;
        gap: 25px;
        .paragraph {
            color: variables.$Dark-grayish-blue;
            font-size: .93rem;
            font-weight: 500;
            line-height: 25px;
        }
        .button {
            background-color: variables.$Soft-red;
            font-size: .8rem;
            font-weight: 600;
            width: fit-content;
            padding: 1rem 2rem;
            border: none;
            color: variables.$Off-white;
            text-transform: uppercase;
            letter-spacing: 5px;
            transition: .2s;
            &:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
}